@charset "UTF-8";

@import "../../../styles.scss";

.footer {
    font-size: smaller;
    background: $accent;
    color: white;
    padding: 5px 15px;
    bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    margin-top: 2em;

    a {
        color: white;
        text-decoration: none;
        transition: color .3s ease-in-out;

        &:hover {
            color: darken(white, 10);
        }
    }
    .copyright {
        display: block;
        text-align: center;
    }
}