<h3 class="title"> <span class="accent">#</span> Pedidos</h3>
<a href="#" class="add-button">+</a>
<div class="list-group">
  <a class="list-group-item order-item">
    <span class="order-item-price">R$ 14.00</span>
    <span class="order-item-title"> Pedido 01 - Anthony Caliani</span>
    <span class="order-item-obs">
      <span class="order-item-obs-phone">
          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>(19) 98160-3654
      </span>
      <span class="order-item-obs-date">
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>24/02/2019 19:00h
      </span>
    </span>
  </a>
</div>
