<h3 class="title"> <span class="accent">#</span> Pedidos</h3>
<a [routerLink]="[ '/order/new' ]" routerLinkActive="active" class="add-button">+</a>
<div class="list-group" *ngIf="orders && orders.length > 0; else noOrders">
  <a class="list-group-item order-item"
    *ngFor="let order of orders"
    [routerLink]="[ '/order', order.id ]" routerLinkActive="active">
    <span class="order-item-price">{{ order.total | currency: 'BRL' }}</span>
    <span class="order-item-title">Pedido {{ order.id }} - {{ order.user?.name }}</span>
    <span class="order-item-obs">
      <span class="order-item-obs-date">
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          {{ order.creationDate | date: 'dd/MM/yyyy hh:mm'}}h
      </span>
    </span>
  </a>
</div>
<ng-template #noOrders>
  <p>
    Nenhum pedido ainda :(
  </p>
</ng-template>

