@charset "UTF-8";

@import "../../../styles.scss";

.navbar-default {
    background-color: white;
    border: none;
    border-radius: 0%;
    box-shadow: 0px 0px 10px 0px $accent;
}

.navbar-header {
    text-align: center;
    margin: 0 auto;
    margin-top: 6px;
    width: 100%;
}

.logo {
    color: $primary;
    text-decoration: none;

    img {
        margin: .5em 1em;
        height: 24px;
    }
    .title {
        font-size: x-large;
        vertical-align: middle;
    }
}